:root {
    --fs-sm: clamp(0.8rem, 0.17vi + 0.76rem, 0.89rem);
    --fs-base: clamp(1rem, 0.34vi + 0.91rem, 1.19rem);
    --fs-md: clamp(1.25rem, 0.61vi + 1.1rem, 1.58rem);
    --fs-lg: clamp(1.56rem, 1vi + 1.31rem, 2.11rem);
    --fs-xl: clamp(1.95rem, 1.56vi + 1.56rem, 2.81rem);
    --fs-xxl: clamp(2.44rem, 2.38vi + 1.85rem, 3.75rem);
    --fs-xxxl: clamp(3.05rem, 3.54vi + 2.17rem, 5rem);

    --fw-thin: 200;
    --fw-bold: 700;
    --fw-extra-bold: 900;

    --clr-footer: hsl(329, 50%, 96%);
    --clr-intro: rgb(248, 190, 158);

    --clr-white: #FFFFFF;
    --clr-black: #2b2b2b;

    --clr-gray-100: #F3F3F3;
    --clr-gray-200: #E0E0E0;
    --clr-gray-300: #D9D9D9;
    --clr-gray-600: #5F5F5F;
}

/* --- RESET --- */

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
    /* Get rid of all font sizes and heights */
}

body {
    min-height: 100vh;
    line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
    line-height: 1.1;
}

@media (prefers-reduced-motion: no-preference) {
    :has(:target) {
        scroll-behavior: smooth;
        scroll-padding-top: 6rem;
    }
}


/* GENERAL  */

body {
    font-family: "Lexend Deca", system-ui, sans-serif;
    font-size: var(--fs-base);
    color: var(--clr-black);
    font-display: optional;
}

h1 {
    font-size: var(--fs-md);
    font-weight: var(--fw-bold);
    padding: 0 0 1rem 0;
    text-align: center;
}

h2 {
    padding-bottom: 1rem;
    text-align: center;
}

h3 {
    font-size: var(--fs-xl);
    font-weight: var(--fw-bold);
}

strong {
    font-weight: var(--fw-bold);
}

footer {
    padding: 2rem;
    background-color: var(--clr-footer);
    text-align: center;
}


/* UTILITIES */

.wrapper {
    --max-width: 60rem;
    --padding: 1rem;

    width: min(var(--max-width), 100% - var(--padding) * 2);
    margin-inline: auto;
}

@media (width > 40em) {
    .wrapper {
        --padding: 2rem;
    }
}

/* STYLES */
.intro {
    background-color: var(--clr-intro);
    padding: 5rem;
}

.bronze {
    background-color: var(--clr-intro);
    padding: .5rem;
}

.masonry {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: 0;
}

.masonry-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.masonry-content img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

.masonry-brick {
    background-color: var(--clr-gray-100);
    transition: opacity .25s ease-in-out;
}

.masonry-brick:hover {
    opacity: .75;
}

.masonry-title,
.masonry-description {
    margin: 0;
    text-align: center;
}

.masonry-title {
    font-weight: 700;
    font-size: 1.1rem;
    padding: 1rem .5rem;
}

.masonry-description {
    padding: .5rem;
    font-size: .75rem;
}